[Unit]
Description=partyhat
BindsTo=hci.service
After=hci.service

[Service]
Type=simple
ExecStart={{command}} {{options}} 30:14:11:19:09:71
Restart=always

